
# You're not getting my shh keys !
ssh/

# Ignore python things
.venv/
*.pyc

# Ignore pyinfra logfiles
pyinfra-*

# Ignore sources, and build outputs from build scripts
tool-builder/tool-srcs/*
tool-builder/build/*
